#app {
	/*width: 800px;*/
	width: 100%;
}
.logo-home {
	top:8px;
	left:3px;
	position: fixed;
	width: 50px;
	height: 50px;
	z-index: 1;
}
.logout {
	float: right;
}
.login-bar {
	background-color: #563D7C;
	z-index: -1;
}
.valid-login {
	display: none !important;
}
.invalid-login {
	display: inline-block;
	color: white;
	font-size: 16px;
	margin-right: 30px;
	margin-top: 3px; 
}
.login-bar-container {

	margin-left: 5px;
	margin-right: 10px;
	margin-bottom: 10px;
	margin-top: 5px;
	width: auto;
}
.login-bar-header {
	margin-left: 40px !important;
}
.login-bar-header a {
	color:white !important;
	font-size: 42px;
	font-family: Roboto, -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI", "Oxygen", "Ubuntu", "Cantarell", "Open Sans", sans-serif;
}
.welcome-page {
	color:white;
	top: 100px;
	left: 100px;
	position: absolute;
}
.background-poster {
	width: 100%;
	height: 650px;
	position: absolute;
	top: 80px;
	z-index: -1;
}
.signup-form {
	position: absolute;
	top: 120px;
	right: 100px;
}
.signup-form input {
	font-size: 28px;
	border-radius: 15px;
	width: 600px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	/*padding-right: 40px;*/
	display: block;
	margin-bottom: 20px;
	border-spacing: 8px;
	border-color: black;
	box-sizing: border-box
}
.signup-form button {
	width: 600px;
	background-color: #563D7C;
	color:white !important;
	font-size: 32px;
	text-align: center;
	border-radius: 15px;
}
.signup-form button:hover {
	background-color: #7a58ad;
}
.navbar {
	display: inline-block;
	width: 100%;
	z-index: 1;
}
.bodyContent {
	margin-top: 75px;
}
.navbar ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;

}
.nav-bar-home {
	margin-left: 80px !important;
}
.nav-bar-logout {
	float:right !important;
}
.nav-bar-button {
	vertical-align: middle;
	color:white;
	cursor: pointer;
	font-size: 18px;
	text-align: center;
	float: left;
	margin-top: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-color: lightgrey;
	border-left-style: solid;
	border-right-style: none;
	border-bottom-style: none;
	border-top-style: none;
	padding-left: 15px;
	padding-right: 15px;

}
.nav-bar-hover:hover {
	background-color: #4a356b;

}
.nav-bar-right {
	/*border-color: lightgrey;*/
	border-right-style: solid;
}
.glyphicon-search
{
	content:"\e003";
	margin-left: 10px;
	font-size: 20px;
	vertical-align: middle;
}
.nav-bar-button input {
	font-size: 14px;
	color: #563D7C;
	border-radius: 5px;
	padding-left: 5px;
	border-color:black;
}
.user-login {
	float:right;
	margin-left: 40px;
}
.user-search {
	margin-right: 20px
}
.navbar li {
	float: left;
	padding: 14px 16px;
}

.signup ul {
	list-style-type: none;
}

.signup li {
	margin: 15px 15px 15px 15px;
}

.user-home {

}

.film-profile {
	width: 70%;
	margin-left: auto;
	margin-right: auto; 

}
.genre {
	margin-left: 40px;
	padding-right: 40px;
	border-color: black;
	border-right-style: solid;
	border-right-width: 1px;
}
.filmHeader {
	/*margin-left: 5%;*/
	/*margin-right: 15%;*/
	width: 90%;
	margin-left: 20px;
	/*border-style: solid;*/
	padding: 10px 10px 10px 10px;
	/*border-radius: 5px;*/
	/*background-color: #a38bc6;*/
	color:#563d7c;
}
.my-modal {
	width: 44vw;
}
.filmBanner {
	width: 100%;
	margin-left: 10%;
	margin-right: auto;
	display: inline-block;
}
.streamLinks {
	position: absolute;
	top: 550px;
	left: 242px;
}
.resourceLinks {
	position: absolute;
	top: 605px;
	left: 268px;
}
.streamOpaque {
	opacity: 0.5;
	cursor: none;
}
.filmInfo {
	width: 90%;
	margin-top: 20px;
	margin-left: 30px;
}
.streamHighlight:hover {
	border-color:white;
	border-style: solid;
	border-width: 2px;
}
.streamImg {
	width: 55px;
	height: 55px;
	border-radius: 2px;
	padding: 5px;
}
.friendsLogo {
	width: 30px;
	height: 30px;
	margin-right: 10px;
	background-color: #D2C8D8;
}
.user-home-personal {
	margin-left: 1%;
	width: 32%;
	 float: left;
	display: inline-block;
	height: 650px;

	border-style: solid;
	border-width: 2px;
	border-radius: 2px;
	padding: 5px;
	border-color: #D2C8D8;
	background-color: #f7f5f8;
}
.memberStatus {
	margin-bottom: 20px;
}
.filmStatus {
	margin-top: 20px;
	margin-bottom: 5px;
}
.friendStat {
	width: 90%;
	margin-left: 20px;
	height: 40px;
	padding: 5px;
	background-color: #D2C8D8;
	text-align: center;
	margin-bottom: 2px;
	margin-top: 2px;
}
.friendStat-profile {
	width: 80%;
	margin-left: 20px;
	height: 40px;
	padding: 5px;
	background-color: #D2C8D8;
	text-align: center;
	margin-bottom: 2px;
	margin-top: 2px;
	cursor: pointer;
}
.user-home-feed {
	width: 33%;
	display: inline-block;
	margin-left: 0.5%;
	/*margin-right: 1%;*/
	height: 650px;
		border-color: black;
	border-style: solid;
	border-width: 2px;
	border-radius: 2px;
	padding: 5px;
		border-color: #D2C8D8;
	background-color: #f7f5f8;
}
.user-home-friends {
	/*margin-top: 300px;*/
	width: 100%;

	/*float: right;*/
	display: inline-block;
	height: 337px;
		border-color: black;
	border-style: solid;
	border-width: 2px;
	border-radius: 2px;
	padding: 5px;
		border-color: #D2C8D8;
	background-color: #f7f5f8;
}
.user-home-right-panel {
	float: right;
	width: 32%;
		margin-right: 1%;
}
.user-home-recs {

	width: 100%;
	margin-right: 1%;
	/*float: right;*/
	display: inline-block;
	height: 308px;
		border-color: black;
	border-style: solid;
	border-width: 2px;
	border-radius: 2px;
	padding: 5px;
		border-color: #D2C8D8;
	background-color: #f7f5f8;
	overflow: auto;
}
.user-home-recs > div {
	height: 270px;
	overflow: auto;
}
.user-home-recs-title {
	margin-left: 20px;
	font-size: 16px;
}
.actors-list {
	width: 90%;
	margin-left: 30px;
}
.trailer {
	width: 100%;
	height: 370px;
}
.trailer-button {
	background-color: #563d7c;
	position: absolute;
	top: 510px;
	left: 260px;
	padding-left: 15px;
	padding-right: 15px;
	border-style: none;
	/*display: inline-block;*/
	/*float:left;*/
	color:white;
	font-size: 24px;
	text-align: center;
	border-radius: 5px;
}
.ratingBlock {
	display: inline-block;
	margin-left: 20px;
	border-color: #563d7c;
	border-style: solid;
	vertical-align: top;
	margin-top: 20px;
	width: 70%;
	height: 440px;
	/*padding-top: 20px;*/
}
.friendRatingsTitle {
	font-size: 16px;
	margin-left: 5px;
}
.yourRating {
	/*vertical-align: middle;*/
	font-size: 24px;
	text-align: center;

}

.yourRatingBlock {
	text-align: center;
	margin-top: 5px;
}
.ratingStar {
		color:#563d7c;
	/*margin-top: 10px;*/
	/*padding-top: 20px;*/
	/*vertical-align: middle;*/
}
.filmPoster {
	width: 200px;
	height: auto;
	margin-left: 20px;
	margin-top: 20px;
}
.runtime {
margin-left: 60px;
}
.releaseDate {
margin-left: 50px;
	padding-right: 60px;
	border-color: black;
	border-right-style: solid;
	border-right-width: 1px;
/*  float: right;

  position: relative;
  left: -50%; /* or right 50% */
  /*text-align: left;*/
}
.filmTitle {
	font-size: 42px;
	font-family: Roboto, -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI", "Oxygen", "Ubuntu", "Cantarell", "Open Sans", sans-serif;
	margin-bottom: 20px;
  /*float: right;*/

  /*position: relative;*/
  /*left: -50%;  or right 50% */
  text-align: center;
  /*display: inline-block;*/
}
.film-list{
	height: 400px;
	overflow: auto;

}

.friend-film-list {
	height: 600px;
	overflow: auto;
}

.search-film-list {
	padding: 5px 5px 5px 5px;
	margin: 15px 15px 15px 15px;
	border-style: solid;
	border-width: 1px;
	height: 650px;
	overflow: auto;
}

.film-entry {
	border-style: solid;
	border-width: 1px;
	border-color: #563d7c;
	border-radius: 5px; 
	background-color: white;
	margin: 15px 15px 15px 15px;
	padding: 5px;
	padding-top: 7px;
	height: 90px;
	cursor: pointer;
}

.film-entry-poster {
/*	width: 50px;
	height: auto;*/
	display: inline-block;
	/*float: left;*/
	margin-left: 10px;
	float: left;
}
.film-entry-poster img {
	height: 75px;
	width: auto;

}
.film-entry-info {
	display: inline-block;
	margin-left: 5px;
	float: left;
}
.film-entry-name {
	font-size: 12px;
	/*width: 80%;*/
}
.film-entry-genre {
	color: grey;
	font-size: 12px;
	margin-left: 5px; 
}
.film-entry:hover {
	background-color: lightgrey;
	color: black;
}

.user-profile {

}

.user-list{
	height: 300px;
	overflow: auto;
}
.friend-user-list {
	height: 400px;
	overflow: auto;
}
.user-entry-stat {
	width: 60%;
	margin-left: 20%;
	height: 30px;
	padding: 5px;
	border-radius: 2px;
	background-color: #D2C8D8;
	text-align: center;
	margin-bottom: 2px;
	margin-top: 2px;
}
.user-entry-logo {
		width: 15px;
	height: 15px;
	margin-right: 15px;
}
.search-user-list {
		/*padding: 5px 5px 5px 5px;*/
	/*margin: 15px 15px 15px 15px;*/
/*	border-style: solid;
	border-width: 1px;*/
	height: 650px;
	overflow-y: auto;
}
.user-home-username {
		color: grey;
	font-size: 12px;
	font-style: italic;
	float:right;
	display: inline;
	margin-top: 27px;
	margin-right: 15px;
}
.user-profile-username {
	color: grey;
	font-size: 12px;
	font-style: italic;
	margin-right: 80px;
	margin-top: 35px;
	float: right;
	display: inline-block;
	/*float:left;*/
}
.user-entry {
	border-style: solid;
	border-width: 1px;
	border-radius: 5px;
	border-color: #563D7C;
	background-color: white;
	margin: 10px;
	padding: 10px;
}
.user-entry-name {
	font-size: 20px;
}
.user-entry-username {
	color: grey;
	font-size: 12px;
	font-style: italic;
	float:right;
	display: inline;
	margin-top: 5px;
}
.user-entry:hover {
	background-color: lightgrey;
	color:#563D7C;
	cursor: pointer;
	
}
.addFriend {
	float:right;
	padding-top: 0px;
	font-size: 24px;

}
.addFriend-button {
	border-radius: 10px;
	background-color: white;
	color:#563D7C;
}
.addFriend:hover {
	color:#a38bc6;

}
.user-name {
	font-size: 24px;
	font-family: Roboto, -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI", "Oxygen", "Ubuntu", "Cantarell", "Open Sans", sans-serif;
	color:#563D7C;
}
.user-name:hover {
	color:white;
	cursor: pointer;
}
.user-email {
	margin-top: -5px;
	margin-left: 25px;
	vertical-align: middle;
	color: grey;
	font-size: 14px;
}

.ranked-films {
	width: 50%;
	float: right;
}
.friend-list {
	width: 50%;
	float: left;
}

.search-film-list {
	height: 625px;
}
.search-film-entry {
	height: 120px;
	display: block;
	padding: 10px;
	/*width: 1000px;*/
}
.search-film-entry:hover {
	background-color:#a38bc6;
	cursor: pointer;
	color:white;
}
.search-film-entry-poster {
	float: left;
	/*display: block;*/
	/*display: inline-block;*/
	margin-left: 40px;
}
.search-film-entry-poster-img {
	height: 100px;
	width: auto;
}

.search-film-entry-info {
	float: left;
	/*display: inline-block;*/
	margin-left: 40px;
}

.search-film-entry-title {
	margin-top: 10px;
	font-size: 24px;
}
.feed-entry {
	height:60px;
	width: auto;
	background-color: white;
	border-radius: 3px;
	padding: 10px;
	border-color: #563D7C;
	margin: 10px; 

}
.feed-entry-info {

	width: 65%;
	display: inline-block;
	float:left;
	/*width: 60%;*/
}
.feed-entry-time {
	float: right;
	font-size: 12px;
	color: lightgrey;
	display: inline-block;
}

.feed-list {
	height:625px;
	overflow: auto;
}
.user-profile-info {
	width: 100%;
	height: 220px;
	margin-left: 3%;
	display: inline-block;
}

.user-profile-friends {
	width: 100%;
	/*height: 600px;*/
	display: inline-block;
}
.user-left-panel {
	float: left;
	height: 625px;
}
.user-profile-films {
	/*float: right;*/
	/*height: 625px;*/
	/*margin-top: 40px;*/
}

.user-profile-friends-title {
	margin-bottom: 0px;
	margin-left: 10px;
	margin-top: 0px;
}

.user-profile-films-title {
	margin-bottom: 0px;
	margin-left: 10px;
	margin-top: 0px;
}

.recommended {
	text-align: center;
	font-style: italic;
	font-size: 16px;
	color:gold;
	vertical-align: middle;
}
.notrecommended {
	display: none;
}

.recommend-img {
	width: 18px;
	height: 18px;
}




